body{
	font-family:"Oswald", Arial;
	color:#0C1B2B; 
}
.logo{
	margin-top:5px;
}
/*NAVIGATION*/
.navbar{
	margin:0px;

}
/*JUMBOTRON*/
.jumbotron {
	margin: 0px;
	text-align:center;
	position: relative;
    background:url("http://i1382.photobucket.com/albums/ah266/ryanfairist/multipletrucksfrontHighlight_zpsu2weskdv.jpg") center center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    color:#1a395c;
  
}

/*MAIN*/
hr {
	border: 1px solid;
}


#about h4, p, li{
	margin-left: 25px;


}

/*SERVICES*/
 #services {
	text-align: center;
	/*color:#0C1B2B;*/
	background-color: #0C1B2B;
	padding-top: 25px;
}
#services h4{
	font-weight:bold;
	color:#fff;
	font-family:Arial;
}
#services p {
	color:#fff;
	font-family:Arial;
}
#services img{
	
	margin-left:10%;
	border: 2px solid #fff;
	 margin: 0 auto;
}
